<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanfeng.shop.coupon.mapper.CouponRecordMapper">

    <resultMap id="BaseResultMap" type="com.wanfeng.shop.coupon.model.entity.CouponRecordDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="useState" column="use_state" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="couponTitle" column="coupon_title" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="conditionPrice" column="condition_price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,coupon_id,create_time,
        use_state,user_id,user_name,
        coupon_title,start_time,end_time,
        order_id,price,condition_price
    </sql>
</mapper>
