<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanfeng.shop.product.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.wanfeng.shop.product.model.entity.ProductDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="coverImg" column="cover_img" jdbcType="VARCHAR"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="oldPrice" column="old_price" jdbcType="DECIMAL"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lockStock" column="lock_stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,cover_img,
        detail,old_price,price,
        stock,create_time,lock_stock
    </sql>
</mapper>
